\.rebar/
\.rebar3/
\.eunit/
\.erlang.cookie
rebar3\.crashdump
erl_crash\.dump
\.vscode/

_build/
doc/
ebin/
log/
logs/
src/expression_lexer.erl
src/expression_parser.erl
src/*.erl_crash
tmp/

exitcode

_*
*.o
*.beam
*.plt
*.swp
*.swo
.idea
*.iml
